@import "tailwindcss";

:root {
  --color-primary: #a78bfa;
  --color-secondary: #e0d7f3;
  --color-background: #121212;
  --color-text: #f5f5f5;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'IBM Plex Sans', sans-serif;
}

.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  font-size: revert;
  font-weight: revert;
}

.prose ul, .prose ol {
  list-style: revert;
  margin-left: 1.25rem;
}
